

<div class='login' ng-show="currentUser.login_type=='1'">
  <h2>Dealer Info</h2>
  <form name="theForm">
 <label>DealerName</label>
  <input type="text"  ng-model="user.dealer_name" name="username"  required>
  <span class="error" ng-show="(theForm.$dirty||submitted) && theForm.username.$error.required">Dealer Name is required</span>
 <!--  <span class="text-danger" style='color:red' ng-if="error.code==1">{{error.message}}</span> --><br>
 <label>Location</label>
    <input type="text"  ng-model="user.location" name="location" required>
    <span class="error" ng-show="(theForm.$dirty||submitted) && theForm.location.$error.required">Location is required</span><br>
  <label>Address</label>
  <input type="text"  ng-model="user.address" name="address" required>
  <span class="error" ng-show="(theForm.$dirty||submitted) && theForm.address.$error.required">Address is required</span><br>
  <label>Ctp Name</label>
  <input type="text"  ng-model="user.ctp_name" name="ctp_name" required>
  <span class="error" ng-show="(theForm.$dirty||submitted) && theForm.ctp_name.$error.required">Ctp Name is required</span><br>
  
  <label>Ctp Mobile</label>
  <input type="text"  ng-model="user.ctp_mobileno" name="ctp_mobileno" required>
  <span class="error" ng-show="(theForm.$dirty||submitted) && theForm.ctp_mobileno.$error.required">Ctp Mobile is required</span><br>
  <label>App Date</label>
  <input type="text"  ng-model="user.appt_dt" name="appt_dt" required>
  <span class="error" ng-show="(theForm.$dirty||submitted) && theForm.appt_dt.$error.required">App Date is required</span><br>
  <label>No Stock</label>
  <input type="text"  ng-model="user.no_stock" name="no_stock" required>
  <span class="error" ng-show="(theForm.$dirty||submitted) && theForm.no_stock.$error.required">No Stock is required</span><br>
  <label>Auth Letter</label>
<!--  <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/> -->
   <input type="file" multiple ng-simple-upload web-api-url="http://localhost:8080/audit_vw/servlet/uploadStatement" callback-fn="myCallback" />
  <!-- <span class="error" ng-show="(theForm.$dirty||submitted) && theForm.auth_letter.$error.required">Auth Letter is required</span><br> -->
  <br/>
  <br>
  <button type="submit"  class="btn btn-success" ng-click="dealerinfo()">submit</button>
 <br>
 <br>
  </form>
  </div>
  
  
  
  
  
  <table ng-table ="usersTable" class="table table-striped" ng-show="currentUser.login_type=='2'" >

<thead>
<tr>

<th>Sno</th>
<th>Name</th>
<th>Location</th>
<th>Ctp_name</th>
<th>Ctp_mobileno</th>
<th>Appt_dt</th>
<th>Action</th>
</tr>
</thead>
<tbody >
<tr ng-repeat="loan in deal | filter:searchTxt" >
<td>{{loan.sno}}</td>
<td>{{loan.dealer_name}}</td>
<td>{{loan.location}}</td>
<td>{{loan.ctp_name}}</td>
<td>{{loan.ctp_mobileno}}</td>
<td>{{loan.appt_dt}}</td>
<td><a href="#!stocklist/{{loan.sno}}">Assign</a></td>
</tr>
</tbody>
</table>