<a class="btn btn-primary dropdown-toggle" href="file/sample.xlsx" id="btn" download>
								Download Excel sample
							</a>
							
							
							
			<table class="table table-bordered" >
							<tbody>
								<tr>
									<td style="font-family: sans-serif; font-style: inherit">Upload
										Excel <span style="color: red;">*</span>
									</td>
									<td><input class="form-control"  type='file' id="file" name="file" onChange="" /></td>
								</tr>
								<tr>
									<td class="title1">&nbsp;</td>
									<td><input type="submit" name="Upload Excel"
										id="UploadExcel" value="Upload Excel" class="btn btn-primary dropdown-toggle" data-upload-url="http://localhost:8080/audit_vw/servlet/addlead"></td>
								</tr>
							</tbody>

						</table>				
							
							